:root {
  --spacingXLarge: 48px;
  --spacingLarge: 24px;
  --spacingMedium: 12px;
  --spacingSmall: 6px;

  --fontColorDefault: #000000;
  --fontColorDisabled: #919191;

  --bgTableHeader: #DFE6EE;
  --bgWhite: #FFFFFF;
  --bgLightGrey: #F8F9FA;
}
